/*Breakpoint XXL*/
@media only screen and (min-width: 1400px){
    /*section*/
    section .container .row .title {
        justify-content: center;
        align-items: center;
    }

    section .container .row .paragraph{
        margin-top: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

/*Breakpoint LG*/
@media only screen and (max-width: 991px){
    #service .container .row .p-web{
        text-align: center;

    }
    
}

@media only screen and (max-width: 767px){
    /*Nav*/
    .navbar .logo{
        width: 5px;
        margin: 0 auto;
    }
    .navbar .navbar-nav .nav-item{
        text-align: center;
    }

    .navbar .navbar-nav .nav-item .nav-link:hover{
        color: #FFD600;
    }

    /*main*/

    .main .container .left{
        width: 100%;
        text-align: center;
    }

    .main .container .left .title{
        font-size: 50px;
    }

    .main .container .left .subtitle,
    p{
        font-size: 14px;
    }

    .main .container .left .sociais{
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    .main .container .img-holder{
       flex: 100%;
    }

    .main .container .img-holder{
        width: 100%;
        height: 80%;
    }

    /*section*/

    section .container .row .title {
        justify-content: center;
        align-items: center;
    }

    section .container .row .paragraph{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    /*section - portfolio*/
   
    
}
