/*GoogleFont*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&family=Poppins:wght@400;500;700&display=swap');


/*Configuração Geral*/

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    height: auto;
    padding-top: 60px;
}

/*Configuração do Nav*/

.navbar {
    background-color: rgba(255, 255, 255, 0.6);
    height: auto;
}

.navbar .navbar-toggler{
    background-color: #FFD600;
}

.nav-item {
    padding: 0 10px;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #495057;
}

.navbar-nav .nav-item .nav-link:hover {
    opacity: 0.7;
    color: #1F2122;
    transition: 1s;
}

.navbar .container .logo img {
    animation: rotate 5s linear infinite;
}

.navbar .container .navbar-toggler{
    background-color: #FFD600;
}
/*Animation of logo*/
@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

/*Main*/

.main {
    height: auto;
}

.main .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.main .container .left {
    flex: 60%;
}

.main .container .left .subtitle,
p {
    font-style: normal;
    line-height: 25px;
    color: #495057;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
}

.main .container .left .title {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: #495057;
}

.main .container .left a {
    text-decoration: none;
}

.main .container .left button {
    display: inline-block;
    margin: 0 2px;
}

.main .container .left button {
    margin-top: 10px;
    width: 140px;
    height: 48px;
    background: #495057;
    border-radius: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: none;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

.main .container .left button.contrate-btn {
    background-color: #FFD600;
}

.main .container .left button.download-btn {
    margin: 10px 10px;
}

.main .container .left button.contrate-btn:hover,
.download-btn:hover {
    opacity: 0.8;
}

.main .container .left .sociais {
    display: flex;
}

.main .container .left .sociais .social-item {
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 5px;
    background: #FFFFFF;
    border: 2px solid #FFD600;
    border-radius: 100px;
}

.main .container .left .sociais .social-item>i {
    display: flex;
    justify-content: space-evenly;
    line-height: 32px;
    color: #FFD600;
}

.main .container .left .sociais .social-item:hover {
    background-color: #FFD600;
}

.main .container .left .sociais .social-item i:hover {
    color: #FFF;
}

.main .container .img-holder {
    flex: 40%;
    display: flex;
}

.main .container .img-holder img {
    width: 100%;
    height: 100%;
}

/*section*/

section {
    display: flex;
    height: auto;
}

section .container {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.img-section {
    width: 100%;
    height: auto;
    border: 2px solid #FFD600;
    border-radius: 100%;
    margin-bottom: 2%;
}

.img-section img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}


section .container .row .title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

section .container .row .title-section {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #495057;
}

section .container .row .title p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #495057;
}

section .container .row .paragraph p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    color: #000000;
}

/*section - services*/

#service {
    display: flex;
    height: auto;
    margin-top: 2%;
}

#service>.container {
    height: 100%;
}

#service .container .title-service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 100%;
}

#service .container .title-service h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #495057;
}

#service .container .title-service p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: rgba(73, 80, 87, 0.9);
}

#service .container .row {
    display: flex;
    height: auto;
}

#service .container .row .card {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 30px;
    border-radius: 5%;
    transition: all 2s ease;

}

#service .container .row .card-title p {
    text-align: center;
}

#service .container .row .card i {
    color: #FFD600;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#service .container .row .card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    border: 2px solid rgb(255, 214, 0);
}

/*Portfolio*/

#portfolio {
    display: flex;
    height: auto;
}

#portfolio .container {
    text-align: center;
}

#portfolio .container .title-port p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: rgba(73, 80, 87, 0.9);
}


#portfolio .container .title-port h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #495057;
}

.card-group{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.card-group > .card{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0px 30px;
    margin-bottom: 4%;
}

.card-group .card img{
    margin: 0 auto;
    width: 90%;
    border-radius: 2%;
}


.card-group .card h5{
    position: absolute;
    margin-top: -40%;
    margin-left: 30%;
}

.button-categorias button{
    width: 140px;
    height: 48px;
    background: #FFD600;
    border-radius: 100px;
    border: none;
    margin-bottom: 10px;
}

.button-categorias .btn:hover{
    background-color: #FFF;
    color: #FFD600;
    border: 2px solid #FFD600;
    opacity: 0.9;
}

#portfolio .container .card{
    border-radius: 10px;
    background-color: #FFD600;
    transition: 2s;
}
#portfolio .container .card img{
    border-radius: 10px;
}
#portfolio .container .card  a{
    color: #FFF;
    margin: 0 auto;
}

#portfolio .container .card-group .card a:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: 2s;
}

